@{
    ViewBag.Title = "Home Page";
}
<h4> Please enter in a search</h4>
<form action="~/Home/GetData" method="post">
    <input type="text" name="Search" placeholder="Enter text" class="form-control" /><br />
   </form>